body {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  repeat(12, 1fr);
    grid-template-areas: "logo topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "sidebar main main main main main main main main main main main" 
                         "addlistitem footer footer footer footer footer footer footer footer footer footer footer";
}

.grid-topbar {
    grid-area: topbar;
}

.logo {
    grid-area: logo;
}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-main {
    grid-area: main;
}

.grid-main-info {
    grid-area: info;
}

.grid-main-content {
    grid-area: content;
}

.grid-footer {
    grid-area: footer;
}

.addlistitem {
    grid-area: addlistitem;
}

/* second grid inside grid-main-info rgba(162, 179, 181, 0.95);*/
.grid-main-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    display: grid;
    grid-template-areas: "title title"
                         "name eta"
                         "note note";
}

.grid-main-title {
    grid-area: title;
}

.grid-main-name {
    grid-area: name;
}
.grid-main-eta {
    grid-area: eta;
}

.grid-main-note {
    grid-area: note;
}

