body {
  margin: 0;
  padding: 0; }

.grid-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100px repeat(11, 1fr);
  grid-template-rows: 50px repeat(9, 1fr) 50px;
  grid-template-areas: "logo topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar topbar"  "sidebar main main main main main main main main main main main"   "sidebar main main main main main main main main main main main" "sidebar main main main main main main main main main main main"  "sidebar main main main main main main main main main main main"  "sidebar main main main main main main main main main main main"  "sidebar main main main main main main main main main main main"  "sidebar main main main main main main main main main main main"  "sidebar main main main main main main main main main main main" "sidebar main main main main main main main main main main main"  "sidebar main main main main main main main main main main main" "addlistitem footer footer footer footer footer footer footer footer footer footer footer"; }

.grid-topbar {
  grid-area: topbar; }

.logo {
  grid-area: logo; }

.grid-sidebar {
  grid-area: sidebar; }

.grid-main-info {
  grid-area: info; }

.grid-main-content {
  grid-area: content; }

.grid-footer {
  grid-area: footer; }

.addlistitem {
  grid-area: addlistitem; }

/* grid-main grid */
.grid-main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12px 1fr 12px; }

.grid-main-wrap {
  grid-area: wrap;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1; }

/* second grid inside grid-main-info */
.grid-main-info {
  grid-template-columns: 2fr 10fr 1fr 2fr 10fr;
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  grid-template-areas: "title title title title title" "name name-input filler eta eta-input" "note note-input note-input note-input note-input"; }

.grid-main-title {
  grid-area: title; }

.main-name {
  grid-area: name; }

.main-name-input {
  grid-area: name-input; }

.main-filler {
  grid-area: filler; }

.main-eta {
  grid-area: eta; }

.main-eta-input {
  grid-area: eta-input; }

.main-note {
  grid-area: note; }

.main-note-input {
  grid-area: note-input; }

.grid-main-content {
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas: "content-title" "table"; }

.grid-main-content-title {
  grid-area: content-title; }

/* */
.table-content {
  grid-template-columns: 30px 75px repeat(2, 1fr) 60px 60px repeat(2, 1fr) 54px;
  grid-column-gap: 8px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "tableid tablesdgnr tablecontainernr tableloeschdatum tableuhrzeit tableselect tableabgabdedatum tablenotiz tablebtn"; }

.tableid {
  grid-area: tableid; }

.tablesdgnr {
  grid-area: tablesdgnr; }

.tablecontainernr {
  grid-area: tablecontainernr; }

.tableloeschdatum {
  grid-area: tableloeschdatum; }

.tableuhrzeit {
  grid-area: tableuhrzeit; }

.tableselect {
  grid-area: tableselect; }

.tableabgabedatum {
  grid-area: tableabgabedatum; }

.tablenotiz {
  grid-area: tablenotiz; }

.tablebtn {
  grid-area: tablebtn; }

/* */
.table-head {
  grid-template-columns: 30px 75px repeat(2, 1fr) 60px 60px repeat(2, 1fr) 54px;
  grid-column-gap: 8px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "heading1 heading2 heading3 heading4 heading5 heading6 heading7 heading8 heading9"; }

.heading1 {
  grid-area: heading1; }

.heading2 {
  grid-area: heading2; }

.heading3 {
  grid-area: heading3; }

.heading4 {
  grid-area: heading4; }

.heading5 {
  grid-area: heading5; }

.heading6 {
  grid-area: heading6; }

.heading7 {
  grid-area: heading7; }

.heading8 {
  grid-area: heading8; }

.heading9 {
  grid-area: heading9; }

/* */
.table-add {
  grid-template-columns: 30px 75px repeat(2, 1fr) 60px 60px repeat(2, 1fr) 54px;
  grid-column-gap: 8px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "addrowlength addsdgnr addcontainernr addloeschdatum adduhrzeit addtableselect addabgabedatum addnotiz tableaddbtn"; }

.addrowlength {
  grid-area: addrowlength; }

.addsdgnr {
  grid-area: addsdgnr; }

.addcontainernr {
  grid-area: addcontainernr; }

.addloeschdatum {
  grid-area: addloeschdatum; }

.adduhrzeit {
  grid-area: adduhrzeit; }

.addtableselect {
  grid-area: addtableselect; }

.addabgabedatum {
  grid-area: addabgabedatum; }

.addnotiz {
  grid-area: addnotiz; }

.tableaddbtn {
  grid-area: tableaddbtn; }

/* modal.html grid */
.modal-content {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid;
  grid-template-areas: "addnew loadnew" "cancel cancel"; }

.modal-addnew {
  grid-area: addnew; }

.modal-loadnew {
  grid-area: loadnew; }

.modal-cancel {
  grid-area: cancel; }

body {
  font: caption;
  color: #fff;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: hidden; }

.sidebar-add {
  border: thick; }

.grid-topbar {
  border-bottom: 1px solid #000;
  background-color: #202225; }

.logo {
  background-color: #202225;
  background-image: url("../asset/Contorga_logo_min.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.grid-sidebar {
  border-right: 1px solid #000;
  text-transform: uppercase;
  background-color: #202225; }

.grid-sidebar-wrap {
  height: 100%; }

.listitem-name {
  display: block;
  padding-top: 12px;
  text-align: center;
  font-size: x-small; }

.addlistitem {
  border-right: 1px solid #000;
  background-color: #202225; }

.grid-main {
  background: #2F3136; }

.grid-main-wrap {
  background: #484B51;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border: 1px transparent;
  border-radius: 0.3em 0.3em 0 0;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5); }

.grid-main-info {
  background: #484B51;
  text-transform: capitalize;
  font-weight: bold;
  margin: 5px; }

.title {
  -webkit-user-select: none;
  background-color: #3CA374;
  color: #333447;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24); }

.main-section {
  -webkit-user-select: none; }

.grid-main-content {
  margin: 5px; }

.grid-footer {
  background-color: #484B51;
  border-top: 1px solid #000;
  position: relative; }

.grid-search {
  top: 50%;
  transform: translateY(50%);
  margin-left: 4px;
  float: left;
  width: auto; }

.grid-search input[type=text] {
  padding: 8px; }

.grid-removelist {
  float: right; }

.grid-exportlist {
  float: right; }

.grid-exportall {
  float: right; }

.btn {
  border: 2px solid #fff;
  color: #3CA374;
  background: none;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  transition: all 0.3s; }

.addbtn {
  font-size: 2.5em;
  height: 50px;
  margin: 8px auto 8px auto;
  width: 90%; }

.listbtn {
  background-image: url("../asset/shipentry.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: top;
  height: 50px;
  width: 85%;
  text-align: right;
  margin: 0px auto 8px auto;
  width: 90%; }

.listbtn:hover,
.listbtn:active {
  background-image: url("../asset/shipentry_dark.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: top; }

.listbtn.active {
  background-color: #41454d; }

.btn:hover,
.btn:active {
  color: #333447;
  background-color: #fff !important; }

.tablebtn {
  background-image: url("../asset/deleteButton.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  border: none;
  display: block;
  overflow: auto;
  width: 85%;
  height: 20px;
  padding: 0;
  margin: 4px;
  font-weight: bolder;
  cursor: pointer; }

.tableaddbtn {
  margin: 2px auto 2px auto;
  color: #fff; }

.tablebtn:focus {
  outline: none;
  border: 1px solid #fff; }

.funcbtn {
  margin: 8px;
  line-height: 45px; }

.table-wrap {
  border: 2px solid #fff; }

.table-head {
  -webkit-user-select: none;
  border-bottom: 1px solid #fff;
  background-color: #484B51;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-align: center; }

.tableid {
  font-weight: bold; }

.addrowlength {
  font-weight: bold;
  text-align: center; }

.table-content:nth-child(even), .table-even {
  background: #666b74;
  text-align: center; }

.table-content:nth-child(odd), .table-odd {
  background: #888f9b;
  text-align: center; }

table {
  border: 1px solid #fff;
  border-spacing: 2px;
  border-collapse: collapse;
  table-layout: auto; }

th.active .arrow {
  opacity: 1; }

select {
  display: block;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 15px;
  background-color: #e8eeef;
  width: 95%;
  border: 0;
  color: #333447;
  padding: 2px;
  margin: 3px;
  font-weight: bold; }

.generalinput {
  margin: 2px;
  padding: 2px;
  width: 90%; }

input {
  background-color: #e8eeef;
  width: 95%;
  border: 0;
  color: #333447;
  padding: 2px;
  margin: 0;
  font-weight: bold; }

.tableinput {
  color: #fff;
  border: none;
  background: transparent;
  text-align: center; }

.tableinput:focus {
  outline: none;
  border: 1px solid #fff; }

.tableselect {
  background-color: #e8eeef; }

.table-list {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0; }

.table-list::-webkit-scrollbar {
  display: none; }

ul {
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0; }

ul::-webkit-scrollbar {
  display: none; }

.arrow {
  float: right; }

.arrow::after {
  vertical-align: middle;
  content: '';
  width: 0;
  height: 0;
  opacity: 0.66; }

.arrow.asc::after {
  position: absolute;
  top: 195px;
  padding-right: 0;
  bottom: 15px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff; }

.arrow.dsc::after {
  position: absolute;
  top: 200px;
  padding-right: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff; }

body {
  background: #2f3136; }

.modal-content {
  height: 100vh;
  width: 100vw; }

.modalbtn {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase; }

.addnewbtn {
  background-color: #7289DA;
  border-right: 0; }

.loadnewbtn {
  background-color: #3CA374; }

.cancelbtn {
  border-top: 0; }
