//all colors that are being used in this project

$base-title-color: #B9C300;
$base-font-color: #41425c;

$sidebar-main-color: #202225;
$sidebar-active-btn: #41454d;

$footer-main-wrap-color: #484B51;

$input-color: #e8eeef;
$modal-button-color-1: #7289DA;
$modal-button-color-2: #3CA374;