<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ContOrga</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vue.js"></script>
</head>

<body>
  <div id="app">
    <div class="grid-container">
      <div class="logo">

      </div>
      <div class="grid-topbar">

      </div>
      <div class="grid-sidebar">
        <ul class="grid-sidebar-wrap">
          <li v-for="schiff in schiffsListe" class="listitem-container">
            <button type="button" class="btn listbtn" v-bind:class="schiff.schiffID">
              <span class="listitem-name">{{ schiff.schiffsname | first7 }}</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="addlistitem">
        <button v-on:click="showModal" class="btn addbtn">+</button>
      </div>
      <div class="grid-main">
        <div class="grid-main-wrap">
          <div class="grid-main-info">
            <div class="grid-main-title title">
              Schiffsinformationen
            </div>
            <div class="main-name">
              Name:
            </div>
            <input v-model="name" id="tablename" class="grid-main-name-input">
            <div class="main-eta">
              ETA:
            </div>
            <div class="main-filler"></div>
            <input v-model="eta" id="tableeta" class="main-name-eta">
            <div class="main-note">
              Notiz:
            </div>
            <input v-model="schiffsnotiz" id="tablenote" class="name-note">
          </div>
          <div class="grid-main-content">
            <div class="grid-main-title title">
              Containerliste
            </div>
            <table>
              <thead>
                <tr>
                  <th v-for="column in columns"
                  @click="sortBy(column)" 
                  :class="{ active: sortKey == column }">
                    <div class="arrow"
                    :class="sortOrders[column]  > 0 ? 'asc' : 'dsc'">
                        {{ column | capitalize }}
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="eintrag in tabellenEintrag">
                  <td>{{ eintrag.ID }}</td>
                  <td>{{ eintrag.SdgNr }}</td>
                  <td>{{ eintrag.ContainerNr }}</td>
                  <td>{{ eintrag.Loeschdatum }}</td>
                  <td>{{ eintrag.Uhrzeit }}</td>
                  <td>{{ eintrag.Status }}</td>
                  <td>{{ eintrag.Abgabedatum }}</td>
                  <td>{{ eintrag.Notiz }}</td>
                  <td>
                      <button v-on:click="deleteRow(column)" class="btn">x</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ rowLength }}
                  </td>
                  <td>
                    <input v-model="init.sdgnr">
                  </td>
                  <td>
                    <input v-model="init.containernr">
                  </td>
                  <td>
                    <input v-model="init.loeschdatum">
                  </td>
                  <td>
                    <input v-model="init.uhrzeit">
                  </td>
                  <td>
                    <select v-model="init.status">

                      <option>n.g.</option>
                      <option>i.V.</option>
                      <option>✅</option>
                      <option>leer</option>
                    </select>
                  </td>
                  <td>
                    <input v-model="init.abgabedatum">
                  </td>
                  <td>
                    <input v-model="init.notiz">
                  </td>
                  <td><button v-on:click="addRow" class="btn">+</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="grid-footer">
        <div class="grid-search">
          <form>
            <input v-model="search" type="text" name="search" placeholder="Suchen...">
          </form>
        </div>
        <div class="grid-exportall">
          <button type="button" class="btn exportall">Alle Exportieren</button>
        </div>
        <div class="grid-exportlist">
          <button type="button" class="btn exportlist">Liste Exportieren</button>
        </div>
        <div class="grid-removelist">
          <button type="button" class="btn removelist">Liste entfernen</button>
        </div>
      </div>
    </div>
  </div>
  <script src="js/index.js"></script>
  <script src="./js/renderer.js"></script>
  <script src="./js/ship.js"></script>
</body>

</html>