body {
    font: caption;
    color: #fff;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar-add {
    border: thick;
}

.grid-topbar {
    border-bottom: 1px solid #000;
    background-color: #202225;
}

.logo {
    background-color: #202225;
    background-image: url('../asset/Contorga_logo_min_v2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid-sidebar {
    border-right: 1px solid #000;
    text-transform: uppercase;
    background-color: #202225;
}

.grid-sidebar-wrap {
    height: 100%;
}

.listitem-name{
    display: block;
    padding-top: 12px;
    text-align: center;
    font-size: x-small;
}

.addlistitem {
    border-right: 1px solid #000;
    background-color: #202225;
    width: 100%;
}

.grid-main {
    background: #2F3136;
    
    height: 100%;
    
}
.grid-main-wrap {
    background: $footer-main-wrap-color;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
    overflow-x: hidden;
    border: 1px rgba(0, 0, 0, 0);
    border-radius: 0.3em 0.3em 0 0;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}
.grid-main-info {
    background: $footer-main-wrap-color; 
    text-transform: capitalize;
    font-weight: bold;
    margin: 5px;
}

.grid-main-content {
    height: 100%;
}
.main-table {
    width:100%;
}

.title {
    @include not-selectable;
    background-color: $base-title-color;
    color: $base-font-color;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
}

.grid-main-title {
    
}

.main-section {
    @include not-selectable;
}

.grid-main-content {
    margin: 5px;
}

.grid-footer {
    background-color: $footer-main-wrap-color;
    border-top: 1px solid #000;
    position: relative;
}

.grid-search {
    top: 50%;
    transform: translateY(50%);
    float: left;
    width: auto;
}

.grid-search input[type=text] {
    padding: 8px;
}

.grid-removelist {
    float: right;
}

.grid-exportlist{
    float: right;
}

.grid-exportall {
    float: right;
}
.btn {
    @include not-selectable;
    border: 2px solid #fff;
	color: #fff;
	background: none;
    cursor: pointer;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	transition: all 0.3s;
}

.btn:hover,
.btn:active {
	color: #333447;
	background: #fff;
}

.addbtn {
    font-size: 2.5em;
    height: 50px;
    margin: 8px auto 8px auto;
    width: 90%;
} 

.listbtn {
    background-image: url('../asset/shipentry.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: top;
    height: 50px;
    width: 85%;
    text-align: right;
    margin: 0px auto 8px auto;
    width: 90%;
}

.listbtn:hover,
.listbtn:active {
    background-image: url('../asset/shipentry_dark.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: top;
}
.tablebtn {
    background-image: url('../asset/deleteButton.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    border: none;
    display: block;
    overflow: auto;
    width: 85%;
    height: 20px;;
    padding: 0;
    margin: 4px;
    font-weight: bolder;
    cursor: pointer;
}

.tableaddbtn {
    margin: 4px auto 4px auto;
}

.tablebtn:focus {
    outline: none;
    border: 1px solid #fff;
}

.funcbtn {
    margin: 8px;
    line-height: 45px;
}

.table-wrap {
    border: 1px solid #fff;
    padding-right: 17px;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}

.table-head {
    @include not-selectable;
    border: 1px solid #fff;
    background-color: $footer-main-wrap-color;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.table-content:nth-child(even) {
    background: #666b74; 
    text-align: center;
}
.table-content:nth-child(odd) {
    background: rgb(136, 143, 155); 
    text-align: center;
}


table {
    border: 1px solid #fff;
    border-spacing: 2px;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}
table th {
    
}
table thead {
    
}



th.active .arrow {
    opacity: 1;
}

select {
    background-color: $input-color;
    width: 90%;
    border: 0;
    color: #333447;
    padding: 2px;
    margin: 4px;
    font-weight: bold;
}
input {
    background-color: $input-color;
    width: 90%;
    border: 0;
    color: #333447;
    padding: 2px;
    margin: 4px;
    font-weight: bold;
}
.tableinput {
    color: #fff;
    border: none;
    background: transparent;
    text-align: center;
}
.tableinput:focus {
    outline: none;
    border: 1px solid #fff;
}

.tableselect {
    background-color: $input-color;
}
  
ul {
    list-style-type: none;
    overflow: hidden; 
    padding-right: 17px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
}
ul::-webkit-scrollbar {
    display: none;
}
  
.arrow {
    float: right;
}
.arrow::after {
    display: absolute;
    vertical-align: middle;
    content: '';
    width: 0;
    height: 0;
    opacity: 0.66;
}
  
.arrow.asc::after {
    position: absolute;
    padding-right: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}
  
.arrow.dsc::after {
    position: absolute;
    padding-right: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}



